# Python
backend/.venv/
__pycache__/
*.py[cod]
.pytest_cache/

# Node
frontend/node_modules/
frontend/dist/

# Environment
.env

# SQLite
*.db
*.sqlite
*.sqlite3

# IDE / OS
.vscode/
.idea/
.DS_Store

frontend_template/